body {
    background-image: url(fondo4.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
 /* Barra de navegación */
.navbar {
  background-color: #f0f4f8;
  height: 100px;
  margin: 30px;
  border-radius: 16px;
  padding: 0.2rem;
  border: #3a506b solid 2px;
}

/* Botón de iniciar sesión */
.login-button {
  background-color: #3a506b;
  color: #fff;
  font-size: 20px;
  padding: 8px 20px;
  border-radius: 50px;
  text-decoration: none;
  transition: 0.3s background-color;
}

/* Hover en el botón de iniciar sesión */
.login-button:hover {
  background-color: #273547;
}

/* Botón de toggler para offcanvas */
.navbar-toggler {
  border: none;
  font-size: 1.25rem;
}

.navbar-toggler:focus,
.btn-close:focus {
  box-shadow: none;
  outline: none;
}

/* Enlaces de navegación */
.nav-link {
  color: #29292e;
  font-weight: 500;
  position: relative;
  font-size: larger;
}

.nav-link:hover,
.nav-link.active {
  color: #3a506b;
}

/* Efecto hover en enlaces de navegación para pantallas grandes */
@media (min-width: 991px) {
  .nav-link::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 0;
      height: 2px;
      background-color: #3a506b;
      visibility: hidden;
      transition: 0.3s ease-in-out;
  }

  .nav-link:hover::before,
  .nav-link.active::before {
      width: 50px;
      visibility: visible;
      background-color: #3a506b;
  }
}

/* Ajustar el tamaño del logo en diferentes puntos de quiebre */
@media (max-width: 576px) {
  .logo {
      width: 50px;
  }
}

@media (min-width: 577px) and (max-width: 992px) {
  .logo {
      width: 105px;
  }
}

/* Ajustar el tamaño del botón de iniciar sesión en diferentes puntos de quiebre */
@media (max-width: 576px) {
  .login-button {
      font-size: 1.8em;
      padding: 6px 16px;
  }
}

@media (min-width: 577px) and (max-width: 992px) {
  .login-button {
      font-size: 1.9em;
      padding: 7px 18px;
  }
}

/*Aqui termina la barra de navegacion*/



 a {
  text-decoration: none;
  font-size: 17px;
}

p{
  font-size: 17px;
}

a:hover{
  color: black !important;
}

i{
  font-size: 25px;
}

#footer{
  background-color: #3a506b;
}

  
/* Contenido */
.contact-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
}

.message-form,
.contact-info {
  width: 100%;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .message-form,
  .contact-info {
    width: 48%;
  }
}

.message-form h1,
.contact-info h1 {
  margin-bottom: 10px;
  text-align: center;
  color: #3a506b;
}

.textContac{
  justify-content: center;
  font-size: 1.2rem;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}

input[type=text],
input[type=email],
textarea {
  width: calc(100% - 20px);
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #4CAF50; /* Verde */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
}

button:hover {
  background-color: #45a049;
}

.contact-info p {
  margin: 5px 0;
  text-align: center;
}

.social-media {
  margin-top: 10px;
}

.map {
  margin-top: 20px;
  text-align: center;
  width: 100%;
  height: auto;
}

.map iframe {
  width: 100%;
  height: 450px;
}

@media (max-width: 767px) {
  .map iframe {
    height: 300px;
  }
}

@media (max-width: 480px) {
  .map iframe {
    height: 200px;
  }
}

.Mensaje{
  color: #3a506b;
}